<!DOCTYPE html>
<html>

<head>
    <title>Мой чудесный веб-сайт</title>
    <meta charset="utf-8">
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="assets/css/base.css" rel="stylesheet" type="text/css">
    <link href="assets/css/style.css" rel="stylesheet" type="text/css">
    <link href="assets/font/object/style.css" rel="stylesheet" type="text/css">
</head>

<body>
    <div class="wrapper">
        <div class="wrapper__content parallax">
            <img class="img img_bg" src="assets/img/bg.jpg">
            <img class="img img_avatar" src="assets/img/profile.jpg">
            <h4 class="headline">Иммануил Старшов</h4>
        </div>
    </div>
    <div class="menu overflow-y">
        <div class="menu__content">
            <a class="link is-active" href="/">Раз</a>
            <a class="link" href="/">Два</a>
            <a class="link" href="/">Три</a>
            <a class="link" href="/">Четыре</a>
            <a class="link" href="/">Пять</a>
        </div>
    </div>
    <div class="main"></div>
    <script src="assets/jquery/jquery.min.js"></script>
    <script src="assets/js/parallax.js"></script>
</body>

</html>