<!doctype html>
<!-- Design by Stepan Lyubavtsev (https://lyubavtsev.ru/) -->
<html lang="ru">
	<head>
		<meta charset="utf-8" />
		<meta content="width=device-width, initial-scale=1.0" name="viewport" />
		<title>Мой анимелист</title>
		<meta content="Мой анимелист" name="title" />
		<meta content="website" property="og:type" />
		<meta content="https://nameasy.github.io/public/mal.html" property="og:url" />
		<meta content="Мой анимелист" property="og:title" />
		<meta content="summary_large_image" property="twitter:card" />
		<meta content="https://nameasy.github.io/public/mal.html" property="twitter:url" />
		<meta content="Мой анимелист" property="twitter:title" />
		<script src="libraries/vue.global.prod.min.js"></script>
		<script type="module" crossorigin src="assets/mal-B2AlhlYr.js"></script>
		<link rel="modulepreload" crossorigin href="assets/projects-CWkPN6bc.js">
		<link rel="modulepreload" crossorigin href="assets/related-BTsPYns0.js">
		<link rel="stylesheet" crossorigin href="assets/projects-lxhjDu9G.css">
	</head>

	<body>
		<div class="page">
			<main class="main">
				<section class="section">
					<div class="section__inner">
						<h1 class="section__title">Мой анимелист</h1>
						<div class="section__content">
							<fieldset class="section__filter">
								<legend class="visually-hidden"></legend>
								<ul class="section__filter-control switch">
									<li class="switch__item">
										<input checked class="switch__input" id="stats-option" name="switch-1" type="radio" value="stats" />
										<label class="switch__label" for="stats-option">Статистика</label>
									</li>
									<li class="switch__item">
										<input class="switch__input" id="watchlist-option" name="switch-1" type="radio" value="watchlist" />
										<label class="switch__label" for="watchlist-option">Список</label>
										<div class="switch__toggle">
											<span class="switch__marker"></span>
										</div>
									</li>
								</ul>
							</fieldset>
							<section class="section__item stats" id="stats" ref="stats">
								<h2 class="visually-hidden">Статистика</h2>
								<section v-for="(year, index) in uniqueYears" :key="index" class="stats__item chart-group">
									<h3 class="chart-group__title">{{ year }}</h3>
									<ul class="chart-group__list">
										<li v-for="(column, index) in filterColumnsByYear(year).reverse()" :key="index" class="chart-group__item chart">
											<div class="chart__month">{{ column.date }}</div>
											<div class="chart__bar" :style="{ flexBasis: column.percentage + '%' }"></div>
											<div class="chart__number">{{ column.value }}</div>
										</li>
									</ul>
								</section>
							</section>
							<section class="section__item watchlist" id="watchlist">
								<h2 class="visually-hidden">Аниме</h2>
								<section v-for="(year, index) in uniqueYears" :key="index" class="watchlist__item anime-group">
									<h3 class="anime-group__title">{{ year }}</h3>
									<template v-for="month in 12">
										<div v-if="hasTitles(year, month)" :key="month" class="anime">
											<div class="anime__month">{{ getMonthName(month) }}</div>
											<ul class="anime__list">
												<li v-for="item in filterTitlesByYearMonth(year, month)" :key="item.id" class="anime__item">{{ item.name }}</li>
											</ul>
										</div>
									</template>
								</section>
							</section>
						</div>
					</div>
				</section>
			</main>
			<footer class="footer">
				<div class="footer__inner">
					<div class="footer__design">
						<div class="footer__text">Проект <a class="link" href="https://lyubavtsev.ru/">Степана Любавцева</a></div>
					</div>
				</div>
			</footer>
		</div>
	</body>
</html>
