@font-face {
    font-family: "Object Sans";
    font-style: normal;
    font-weight: 400;
    src: url(ObjectSans-Regular.woff2) format("woff2"), url(ObjectSans-Regular.woff) format("woff")
}

@font-face {
    font-family: "Object Sans";
    font-style: normal;
    font-weight: 800;
    src: url(ObjectSans-Heavy.woff2) format("woff2"), url(ObjectSans-Heavy.woff) format("woff")
}